.flex-container {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
  }

/*CARD CSS*/
.card {
    width: 320px;
    height: 350px;
    padding: 20px;
    color: white;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin-right: 16px; 
  }
  
  .card .main-content {
    flex: 1;
  }
  
  .card .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .card .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
  }
  
  .card .categories {
    display: flex;
    gap: 8px;
  }
  
  .card .categories span {
    background-color: #e81cff;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
  }
  
  .card .footer {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .card:hover {
    rotate: 8deg;
  }
  .subscription-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap; /* Ensure cards stay on the same line */
    overflow-x: auto; /* Add horizontal scroll if needed */
  }
/*---------------------------------------*/
  .button-container {
    display: flex;
 /* Adjust the gap as needed */
  }
  .small-button {
    font-size: 11px; /* Adjust the font size as needed */
  }
/*FORMS 8888888888888888888*/
/* subscription.component.css */

:host .subscription-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  :host .subscription-form h2 {
    text-align: center;
    color: #333;
  }
  
  :host .subscription-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  :host .subscription-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  :host .subscription-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  :host .subscription-form button:hover {
    background-color: #45a049;
  }
  
  /*SEARCH */
  /* Add some styling for the search forms */
  /*--------------------------------------------------------------
1.0 - BASE SITE STYLES
--------------------------------------------------------------*/
*,*:after,*:before {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  
  .cf:before,
  .cf:after {
      content:"";
      display:table;
  }
  .cf:after {
      clear:both;
  }
  

  a,a:visited {
    color:#fff
  }
  
  /*--------------------------------------------------------------
  2.0 - SEARCH FORM
  --------------------------------------------------------------*/
  .searchform {
    background:#f4f4f4;
    background:rgba(244,244,244,.79);
    border: 1px solid #d3d3d3;
      left: 50%;
    padding: 2px 5px;
    position: absolute;
      margin: -22px 0 0 -170px;
    top: 9%;
    width:339px;
    box-shadow:0 4px 9px rgba(0,0,0,.37);
    -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
    -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
  }
  
  .searchform input, .searchform button {
      float: left
  }
  .searchform input {
      background:#fefefe;
      border: none;
      font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
      margin-right: 5px;
      padding: 10px;
      width: 216px;
      box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
      -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
      -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
  }
      .searchform input:focus {
          outline: none;
          box-shadow:0 0 4px #0d76be inset;
          -moz-box-shadow:0 0 4px #0d76be inset;
          -webkit-box-shadow:0 0 4px #0d76be inset;
      }
      .searchform input::-webkit-input-placeholder {
        font-style: italic;
        line-height: 15px
      }
  
      .searchform input:-moz-placeholder {
        font-style: italic;
        line-height: 15px
      }
  
  .searchform button {
      background:#4caf50;
      background: -moz-linear-gradient(top, #4caf50 0%, #4caf50    100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4caf50), color-stop(100%,rgba(38,145,220,1)));
      background: -webkit-linear-gradient(top, #4caf50 0%,#4caf50 100%);
      background: -o-linear-gradient(top, #4caf50 0%,#4caf50 100%);
      background: -ms-linear-gradient(top, #4caf50 0%,#4caf50 100%);
      background: linear-gradient(to bottom, #4caf50 0%,#4caf50 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
      border: none;
      color:#fff;
      cursor: pointer;
      font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
      padding: 10px;
      width:106px;
      box-shadow: 0 0 2px #4caf50 inset;
      -moz-box-shadow: 0 0 2px #2692dd inset;
      -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
  }
      .searchform button:hover {
          opacity:.9;
      }
/*Search By date  */
.instant-search {
    position: relative;
    max-width: 250px;
  }
  
  .instant-search,
  .instant-search__input {

    font-family: sans-serif;
  }
  
  .instant-search,
  .instant-search * {
    transition: background 0.15s, box-shadow 0.15s;
  }
  
  .instant-search:focus-within {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  .instant-search--loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #009578;
    border-radius: 5px;
    animation: searchIndicator 0.5s infinite ease-in-out;
  }
  
  @keyframes searchIndicator {
    0% {
      width: 15%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 15%;
    }
  }
  
  .instant-search,
  .instant-search__input-container {
    border-radius: 5px;
    display: flex;
    margin-left: 40%; 
  }
  
  .instant-search__input-container {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    background: #eeeeee;
  }
  
  .instant-search__input-container:focus-within {
    background: #ffffff;
  }
  
  .instant-search__input {
    flex-grow: 1;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 6px;
    background: transparent;
  }
  
  .instant-search__results-container {
    max-height: 250px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s;
  }
  
  .instant-search__results-container--visible {
    visibility: visible;
    opacity: 1;
  }
  
  .instant-search__result {
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
  }
  
  .instant-search__result:hover {
    background: #eeeeee;
  }
  
  .instant-search__result:not(:last-of-type) {
    border-bottom: 1px solid #eeeeee;
  }
  
  .instant-search__title {
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .instant-search__paragraph {
    line-height: 1.5;
    margin: 8px 0;
  }
  #searchUsers {
    display: flex;
    justify-content: center;
  }